#musica {
  background: url(./imagenes/bocanada.jpg) no-repeat center/cover;
  backdrop-filter: blur(8px);
  position: relative;
}

#musica::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.contenedor-reproductor {
  position: relative;
  z-index: 2;
}

.reproductor {
  background-color: rgba(228, 228, 228, 0.3);
  color: #fff;
  backdrop-filter: blur(5px);
}

/* Botones */
.controls button {
  background: rgba(165, 165, 165, 0.3);
  color: yellow;
  border-radius: 50%;
  border: 1px solid yellow;
  font-size: 1.5rem;
  box-shadow: 0 5px 9px yellow;
  transition: transform 0.3s;
}
.controls button:hover {
  transform: scale(1.1);
}

/* Range */
#progreso {
  appearance: none;
  height: 10px;
  background: rgba(165, 165, 165, 0.3);
  border-radius: 5px;
}
#progreso::-webkit-slider-thumb {
  appearance: none;
  background: yellow;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
